<div class="space-y-4">
  {% form_tag 'search' %}
    <label class="input">
      <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" class="grow" name="{{form.keywords_field_name}}" value="{{ search.keywords | escape }}" placeholder="{{ 'generic.placeholders.search' | t }}" />
    </label>
  {% endform_tag %}

  {%- assign header_menu_html = site.settings.header_menu_html -%}
  {% if header_menu_html %}
    <div class='card bg-white p-4'>
      <label class="block font-mono text-xs font-semibold mb-3 text-slate-500">MENU</label>
      <div class="space-y-2 flex flex-col pt-2 underline">
        {{ header_menu_html }}
      </div>
    </div>
  {% endif %}


  {%- assign tags = site.tags -%}
  {%- assign tags_count = tags | size -%}

  {% if tags_count > 0 %}
    <div class='card bg-white p-4'>
      <label class="block font-mono text-xs font-semibold mb-3 text-slate-500">TAGS</label>
      <ul role="list" class="flex flex-col">
        {% for tag in site.tags %}
          <li >
            <a
              href="{{ tag.path }}"
              style="--tag-color: {{ tag.color }};"
              class="flex items-center py-1.5 space-x-2 transition-all duration-300 ease-in-out"
            >
              <span class="w-2 h-2 rounded-full shrink-0" style="background-color: {{ tag.color }};"></span>
              <span class="flex-grow break-words hover:text-[var(--tag-color)] text-slate-500">
                {{ tag.name }}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>