<a href="{{ tag.path }}"
   style="--tag-color: {{ tag.color }};
          background-color: color-mix(in srgb, {{ tag.color }} 30%, transparent);
          "
   data-turbo-frame="_top"
   class="badge flex badge-soft badge-xs items-center ">
  <span class="w-2 h-2 rounded-full shrink-0" style="background-color: {{ tag.color }};"></span>
  <span class="flex-grow hover:text-[var(--tag-color)] text-slate-500 font-bold">
    {{ tag.name }}
  </span>
</a>